/********************************
added quick styles to home
******************************/
.navbar{
	margin-bottom: 0px;
}

.ha-header{
	height: 0px;	
}

.navbar-default .navbar-brand{
	color: black;
	font-size: 20px;
	margin-left: 10px;   
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
   text-align: center;
}

.image h3, .image h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}   
.image h3 span, .image h2 span { 
   color: white; 
   font-weight: bold;
   font-size: 30px;
   letter-spacing: -1px;  
   margin-top: 20px;
} 

.image h3 span .tagline2, .image h2 span .tagline2 {
   font-weight: normal;
   font-size: 17px;
}

.image h3 span .spacer, .image h2 span .spacer {
 	padding:0 5px;
}  


.prompt_button{
	margin-top: 30px;
	font-size: 20px;
	font-family: "Open Sans","Helvetica","Arial";
	padding: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.value_prop{
	font-size: 15px;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
}

.p-b-60{
	padding-bottom: 0px;
}

.p-b-60{
	padding-top: 20px;
}

.call_to_action_btn{
	margin-left: 15px;
	margin-right: 15px;
}

.pricing{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
   font-weight: bold;
}

.aboutus{
   font-size: 18px;
   text-align: center;
   margin-bottom: 15px;
}

/*** Messages and Notifications **/
/*** Alerts **/
.alert {
   color: #ce8f22;
   background-color: #fffcee; 
   background-image:none;
   box-shadow:none;
   text-shadow:none;
   padding: 9px 19px 9px 15px;
   border-radius: 3px 3px 3px 3px;
    border: 1px solid #F0DBB4;
    transition: all 0.2s linear 0s;
}

.alert-success{
   color: #438a85;
   background-color: #f3faf8;
   border-color: #bfd1cf;
}

.alert-info{
   color: #246a8e;
   background-color: #ebf6fb;
   border-color: #bfd4de;
}

.alert-danger, .alert-error{
   color: #e76e70;
   background-color: #fff6f4;
   border-color: #f8cdcd;  
}

.alert .link{
   color:#be8c37;
   font-weight:bold;
}
.alert-success .link{
   color:#3a7672;
}
.alert-info .link{
   color:#2f6986;
}
.alert-danger .link, .alert-error .link{
   color:#db7c7e;
}

.alert-danger .alert-heading , .alert-error .alert-heading {
   color: #db7c7e !important;
}
.alert-success .alert-heading {
   color: #438a85 !important;
}
.alert-info .alert-heading {
   color: #246a8e !important;
}
.alert .alert-heading {
   color: #be8625;
   margin-bottom:5px;
   font-weight:600;
}
.alert .btn-small{
   position:relative;
   top: -3.5px;
}
.alert .button-set .btn{
   position:relative;
   top: 8px;
}
.alert .close{
   background: url("/assets/noti-cross.png") no-repeat scroll 0 0 transparent;
   background-position: -9px -10px;
   width: 10px; height: 9px;
    position: relative;
   opacity: 0.8;
   top: 4.5px;
   margin-left:20px
}
.alert .close:hover{
   opacity: 1;
}
.alert-success .close{
    background-position:  -38px -10px !important;
}
.alert-info .close{
    background-position: -67px -10px !important;
}
.alert-error .close, .alert .alert-danger .close{
    background-position: -95px -10px !important;
}

.alert-block{
   padding: 15px 19px 15px 17px
}

.alert {
   text-align: center;
}

/*****************************/