.alert {
   text-align: center;
   margin-bottom: 0px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  /*padding: 2px;
  background-color: red;*/
 /*display: inline-block;*/
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors select
{
    border: none;/*1px solid #FAAFBA !important;*/
}

.navbar-default .navbar-brand {
  color: black;
  
   font-family: Montserrat;
   font-weight:bold
}

/* for phone input padding */
.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px !important;
  margin-left: 0;
  transition: background-color 100ms ease-out;
}
