/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope
 *
 * require_tree .
 *= require_self
 * require bootstrap.min
 * require bootstrap-theme.min
 *= require intlTelInput.css
 *= require chartist.min
 *= require pace-theme-flash
 * require font-awesome
 * require animate.min
 * require magic_space
 */


.logo.footer{
	font-size: 22px;
	padding-left: 0px;
}

.intl-tel-input {
  width: inherit;
}

.pagination > .previous_page {
  background-color: transparent;
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
  &:hover {
  	background-color: white;
  }
}

.pagination > .previous_page.disabled {
  background-color: transparent;
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
}


.pagination > .next_page {
  background-color: transparent;
  padding: 10px;
  border: 1px solid white;
  border-radius: 25px;
  &:hover {
  	background-color: white;
  }
}

.col-md-6.col-sm-6.padding-fix2 {
    padding-left: 0px !important;
 }

#cc-csc {
  border-top-right-radius: 0; 
  border-left-color: transparent; 
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#cc-exp {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 768px) {
  .col-md-6.col-sm-6.padding-fix1 {
      padding-left: 15px !important;
      padding-right: 15px !important;
  }
  .col-md-6.col-sm-6.padding-fix2 {
      padding-left: 15px !important;
  }

  #cc-exp {    
    border-radius: 1px;
  }

  #cc-csc {
    border-left: 1px solid #BDC4C9 !important;
    border-top: 1px solid #BDC4C9 !important;
    margin-top: -1px !important;
  }

  .fa.fa-lock {
    top: 11px !important;
    left: 28px !important;
  }
}

.error-pages {
   padding-bottom: 50px;
   padding-top: 50px !important;
}