.loading {
  display : block;
  z-index: 100;
  background-image : url('default.gif');
  opacity : 0.4;
  background-repeat : no-repeat;
  background-position : center;
  left : 0;
  bottom : 0;
  right : 0;
  top : 0;
}
