
.shrink-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

$colors: silver #bdc3c7, cloud #ecf0f1, carrot #e67e22, pumpkin #d35400, peter-river #3498db, orange #f39c12, green-sea #16a085, wisteria #8e44ad, sun-flower #f1c40f, midnight-blue #2c3e50;
$error-color: red;
$success-color: green;

.intl-tel-input{
  width: 100% !important;
  margin-left: 36px !important;
}

/*page specific css for signup page*/
#sign_up-page .intl-tel-input{
  margin-bottom: 20px !important;
  margin-left: 53px !important;
}

#request-demo-page .intl-tel-input, #refer-a-business .intl-tel-input {
  margin-bottom: 20px !important;
  margin-left: 10% !important;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
    padding: 0 !important;
    width: 100% !important;
    height: auto !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    background: none !important;
    text-align: left !important;
}

.selectize-dropdown-content {
  display: block !important;
  background-color: white !important;
  width: 100% !important;
  border: 1px solid #1f8cec !important;
  margin-left: -60px !important;
  margin-top: 12px !important;
  text-align: left !important;
}

#subscription-plan-id-selectized {
  margin-top: 5px !important;
}

@each $name,$color in $colors
{
  .radius-color-#{$name} {
    background-color: $color;
  }
}

.has-error .form-control
{
  border-color: $error-color;
}

.help-block{
    color: $error-color;
}
.has-success .control-label,
.has-success .help-block {
    color: $success-color;
}
.hide {
  display: none !important;
}
