.display_none {
  display: none;
}

/*fix css for phone number*/
.intl-tel-input{
  width: 100% !important;
  margin-left: 36px !important;
}

/*page specific css for signup page*/
#sign_up-page .intl-tel-input{
  margin-bottom: 20px !important;
  margin-left: 53px !important;
}

#request-demo-page .intl-tel-input {
  margin-bottom: 20px !important;
  margin-left: 10% !important;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
    padding: 0 !important;
    width: 100% !important;
    height: auto !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    background: none !important;
    text-align: left !important;
}

.selectize-dropdown-content {
  display: block !important;
  background-color: white !important;
  width: 100% !important;
  border: 1px solid #1f8cec !important;
  margin-left: -60px !important;
  margin-top: 12px !important;
  text-align: left !important;
}

#subscription-plan-id-selectized {
  margin-top: 5px !important;
}

$colors: #ff0000 #ffff00 #0080ff #f20d0d  #996666 #808080 #0000ff #ffbf00 #40ff00 #ff00bf;
@each $color in $colors
{
  $i: index($colors, $color);
  .radius-color-#{$i}{
    background-color: $color;
  }
}
