/*fix css for phone number*/
.intl-tel-input{
  width: 100% !important;
  margin-left: 36px !important;
}

/*page specific css for signup page*/
#sign_up-page .intl-tel-input{
  margin-bottom: 20px !important;
  margin-left: 53px !important;
}

#request-demo-page .intl-tel-input {
  margin-bottom: 20px !important;
  margin-left: 10% !important;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
    padding: 12px 0 0 0 !important;
    width: 105% !important;
    margin-left: -11px !important;
    margin-top: -8px !important;
    height: 43px !important;
    border: none !important;
}

.selectize-dropdown-content {
  display: block !important;
  background-color: white !important;
  width: 100% !important;
  border: 1px solid #1f8cec !important;
}