/*fix css for phone number*/
$colors: #ff0000 #ffff00 #0080ff #f20d0d  #996666 #808080 #0000ff #ffbf00 #40ff00 #ff00bf;
$error-color: red;
$success-color: green;

.intl-tel-input{
  width: 100% !important;
  margin-left: 36px !important;
}

/*page specific css for signup page*/
#sign_up-page .intl-tel-input{
  margin-bottom: 20px !important;
  margin-left: 53px !important;
}

#request-demo-page .intl-tel-input {
  margin-bottom: 20px !important;
  margin-left: 10% !important;
}

@each $color in $colors
{
  $i: index($colors, $color);
  .radius-color-#{$i}{
    background-color: $color;
  }
}

.has-error .form-control  
{
  border-color: $error-color;
}
  
.help-block{
    color: $error-color;
}
.has-success .control-label,
.has-success .help-block {
    color: $success-color;
}
